resources:
- name: dbbox
  type: sqladmin.v1beta4.instance
  properties:
    backendType: SECOND_GEN
    databaseVersion: MYSQL_5_7
    region: us-east1
    settings:
      tier: db-f1-micro

- name: svc1_user
  type: sqladmin.v1beta4.user
  properties:
    project: {{env["project"]}}
    instance: $(ref.dbbox.name)
    name: svc1
    password: insecure_password
    host: '%'

- name: rotate_password-svc1_user 
  action: gcp-types/sqladmin-v1beta4:sql.users.update
  metadata:
    runtimePolicy:
    - UPDATE_ON_CHANGE
  properties:
    project: {{ env['project'] }}
    instance: $(ref.dbbox.name)
    name: svc1
    password: strong_password
    host: '%'
